@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap'); 
* {
    padding: 0;
    margin: 0;
    font-family: PT Sans;
    box-sizing: border-box;
}

li {
    list-style: none;
}

.page {
    background-color: #81ac8a;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.wrapper {
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
    background-color: #ffffff;
    padding: 50px 50px;
    box-shadow: 0 0 10px 1px rgb(106, 105, 105);
}

.main {
    margin-bottom: 40px;
}

 .nav-list {
    display: flex;
    justify-content: space-around;
 }

 .nav-link {
    color: #81ac8a;
    border-bottom: #81ac8a solid 1px;
    padding-bottom: 3px;
    text-decoration: none;
 }

 .nav-link:hover {
    border-top: #81ac8a solid 1px;
    padding-top: 3px;
 }

h1 {
    margin-bottom: 20px;
}


.page-section {
    margin-bottom: 40px;
}

.page-section h2 {
    position: relative;
    margin-bottom: 20px;
}

.page-section h2::after {
    content: '';
    position: absolute;
    width: 35px;
    height: 2px;
    background-color:#81ac8a;
    bottom: -5px;
    left: 0px;
}


.info {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.photo {
    margin-right: 60px;
    width: 200px;
}

.photo img {
    width: 100%;
    height: auto;
}

.contact-item {
    list-style: circle;
    margin-left: 20px;
}

.contact-item a {
    color: rgb(26, 26, 26)
}

.code-example {
    border-left: 4px solid #59a067;
    font-size: 14px;
    line-height: 18px;
    background: rgb(240, 240, 240);
}

.skills-item {
    list-style: circle;
    margin-left: 20px;
}

.exp-item {
    list-style: circle;
    font-weight: 600;
    margin-left: 20px;
}

.shore-item {
    font-weight: 400;
    list-style: disc;
    margin-left: 40px;
}

.edu-item, .lang-item {
    list-style: circle;
    margin-left: 20px;
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright-link {
    color: #000000;
}
@media all and (max-width: 460px) {
    .wrapper {
        padding: 20px;
    }

    .page {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@media all and (max-width: 360px) {
    .code-example {
        font-size: 12px;
    }
}